{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Welcome to My Flask App</h1>
        <p class="lead"> This is just a test application. Move on </p>
        {% if session.logged_in == NULL %}
            <a href="/register" class="btn btn-info btn-lg">Register</a>
            <a href="/login" class="btn btn-info btn-lg">Login</a>
            <!-- <a href="/login_google" class="btn btn-block btn-social btn-google">Login via Google</a> -->
            <div class="mx-auto" style="height: 15px;"></div>
            <a href="/login_google" class = "btn btn-success btn-lg btn-social btn-google">
                <span class = "fa fa-google"></span> Sign in with Google
            </a>
            <a href="/login_facebook" class = "btn btn-primary btn-lg btn-social btn-facebook">
                <span class = "fa fa-facebook"></span> Sign in with Facebook
            </a>
        {% endif %}
    </div>
{% endblock %}